* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;
  background-color: #000000ee;
  color: white;
}

ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 0 0.8rem;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

section {
  min-height: 100vh;
}

.home {
  background-color: rgb(255, 255, 255);
  background-image: url("./images/BANNER.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(248, 243, 243);
  display: flex;
  justify-content: first baseline;
  align-items: center;
}

.home div {
  margin: 0 3rem;
}

.about {
  background-color: white;
  padding: 3rem 5rem;
  display: flex;
  gap: 2rem;
}

.about .passport-container {
  width: 40%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-self: center;
}

.about-desc {
  width: 60%;
  background-color: white;
}

.about-list {
  display: flex;
  margin: 2rem 0;
}

.about-list ul {
  display: block;
}

.about-list ul li {
  list-style: inside;
  margin: 1rem 0;
}

.about-list ul li a {
  color: rgb(0, 0, 143);
}

.about-list .list-1 {
  margin-right: 2rem;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

.services h2 {
  margin-bottom: 5rem;
}

.service-card-wrapper {
  display: flex;
  gap: 1rem;
}

.services-card {
  border: 2px solid hsla(0, 0%, 0%, 0.667);
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
}

.services-card p {
  margin-top: 1rem;
  text-align: justify;
}

.portfolio {
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.portfolio-card {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio-card:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition-duration: 300ms;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.portfolio-card h3 {
  font-weight: 500;
}

.portfolio-card p {
  font-weight: 300;
}

.contact {
  padding: 3rem 5rem;
}

.contact h2 {
  margin: 4rem 0;
  text-align: center;
}

.contact-section-wrapper {
  display: flex;
  gap: 4rem;
}

form {
  width: 50%;
}

form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input {
  padding: 0.8em 1.5em;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}

input:focus {
  outline: #007bff 1px solid;
  border: #007bff 1px solid;
}

textarea {
  resize: none;
  border-radius: 5px;
  padding: 0.8em 1.5em;
  outline: none;
}

textarea:focus {
  border: #007bff 1px solid;
  outline: #007bff 1px solid;
}

form button {
  padding: 1em 2em;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: #005fc4;
  transition-duration: 300ms;
}

footer {
  background-color: rgba(0, 0, 0, 0.879);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

svg {
  fill: #005fc4;
  width: 2rem;
  margin-left: 1rem;
}